body{
    background: linear-gradient();
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
}




.container{
    background-color: rgb(228, 199, 199);
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 17px;
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.First{
    width: 48%;
}

.Second{
    width: 48%;
}






label{
   
    font-weight:bold;
    margin-top: 8px;
    display: block;
}

input{
         width: 100%;
    padding: 7px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 13px;
    outline: none;
    transition: 0.3s;
}

select{
       width: 100%;
    padding: 7px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 13px;
    outline: none;
    transition: 0.3s;
}

button{
    width: 80%;
    padding: 10px;
    margin-top: 12px;
        background: #1e3a5f;

    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.35;

}

button:hover{
    background: #2b4d73;
}
a{
    text-decoration: none;
    color: white;
}